header#header
	nav.navbar.navbar-inverse.navbar-fixed-top(role="banner")#bagcnav
		div.container
			div.navbar-header
				button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/" title="Go to BAGC home page") BAGC
			div.collapse.navbar-collapse.navbar-right#navdiv
				
				ul.nav.navbar-nav
					
					li(class="#{link=='home'?'active':''}")
						a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="/") Home
					li(class="#{link=='events'?'active':''}")#nav_events
						a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="/#events") Events
					li.dropdown(class="#{link=='about'?'active':''}")
						a.dropdown-toggle(data-toggle="dropdown" href="#") About Us
							i.fa.fa-angle-down(style="margin-left:.5em;")
						ul.dropdown-menu
							li#nav_bangabhavan						
								a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="/about#bangabhavan") Banga Bhavan
							li#nav_committee						
								a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="/about#committee") Committee
							li#nav_history						
								a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="/about#history") History
							li						
								a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="docs/bot/botminutes.pdf" target="_blank") BOT
							li						
								a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="docs/constitution/bylaws2013.pdf" target="_blank") Constitution
							li#nav_pastpresidents					
								a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="/about#pastpresidents") President's Message
							li#nav_contact
								a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="/about#contact") Contact us
					
					li
						a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in"  target="_blank" href="http://www.bagc.net/bagc/node/11") Membership
					li(class="#{link=='gallery'?'active':''}")
						a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="/photos") Photo Gallery
					li(class="#{link=='newsletters'?'active':''}")
						a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="/newsletters") Newsletters
					li(class="#{link=='sponsors'?'active':''}")
						a(data-toggle="collapse" data-target=".navbar-collapse.navbar-right.in" href="/#sponsors") Sponsors
					