section#pastpresidents
	div.container
		if pastpresidents
			div.row.center.wow.fadeInDown 
				h2 President's Message
			div.row
			
					.tab-wrap.well
						.media
							.parrent.pull-left
								ul.nav.nav-tabs.nav-stacked
									
									each pastpresident,tabIndex in pastpresidents
										- var name=pastpresident.name;
										- var year=pastpresident.year;
										- var idForTab="tab_"+year;
										li(class="#{tabIndex===0?'tabheader active':'tabheader'}")
												a(href="##{idForTab}" data-toggle="tab") #{name} #{year}
							.parrent.media-body
								.tab-content
									
									each pastpresident,tabIndex in pastpresidents
										- var name=pastpresident.name;
										- var year=pastpresident.year;
										- var idForTab="tab_"+year;
										.tab-pane(id="#{idForTab}" class="#{tabIndex===0?'active in':''}")
												.media
													.media-body
														img.img-responsive.img-past-pres.fixfadeInDown(src="#{pastpresident.imageurl}")
														each textpara in pastpresident.message
															p.lead.fixfadeInDown #{textpara}